<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(62008255, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
<noscript><div><img src="https://mc.yandex.ru/watch/62008255" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <title>Musica Integra</title>
    <link rel="stylesheet" href="../../../static/style.css">
    <meta name="yandex-verification" content="f651d4e5b1670abc" />
</head>
<body>
    <header id="intro_dif_image">
        <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light scrolling-navbar" style="min-height: 80px;">
            <a class="navbar-brand" href="{% url 'main' %}">Musica Integra</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button><div class="collapse navbar-collapse" id="navbarNavDropdown"><ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">пространство <strong>ВДОХНОВЕНИЯ</strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'music' %}">МУЗЫКА</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">МЕДИА</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">человек <strong>ИГРАЮЩИЙ</strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item submenu" href="{% url 'children' %}">ДЕТСКОЕ ТВОРЧЕСТВО</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'children_playing' %}">Дети играют</a>
                            <a class="dropdown-item" href="{% url 'konkurces' %}">Конкурсы</a>
                            <a class="dropdown-item" href="#">Проекты</a>
                        </div>

                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕДАГОГ-ДЕМОНСТРАТОР</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">педагоги<strong><span style="vertical-align: super">УМ</span></strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item submenu" href="{% url 'not_ready' %}">МЕТОДИЧЕСКИЕ МАТЕРИАЛЫ</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'notes' %}">Нотные пособия</a>
                            <a class="dropdown-item" href="{% url 'publications' %}">Публикации</a>
                            <a class="dropdown-item" href="{% url 'methods_dev' %}">Методические разработки</a>
                            <a class="dropdown-item" href="{% url 'course_materials' %}">Учебные материалы курсов</a>
                            <a class="dropdown-item" href="{% url 'videoconf_materials' %}">Материалы видеоконференций, вебинаров</a>
                        </div>

                        <a class="dropdown-item submenu" href="{% url 'session' %}">СЕССИОННОЕ ОБУЧЕНИЕ</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'courses' %}">Курсы повышения квалификации</a>
                            <a class="dropdown-item" href="{% url 'gumo' %}">ГУМО</a>
                            <a class="dropdown-item" href="{% url 'remote' %}">Дистанционное обучение</a>
                            <a class="dropdown-item" href="{% url 'konferences' %}">Конференции</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub"><strong><span style="vertical-align: sub">ПРОФИ</span></strong>ли участников</span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ФОРУМ педагогических идей</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕРСОНАЛИИ</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>

    </header>
    <main class="mt-5">
        <div class="container">
            <section id="best-features" class="center-text">
                <h2 class="mb-5 font-weight-bold">УЧЕБНЫЕ МАТЕРИАЛЫ КУРСОВ</h2>
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-8">
                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/1_Авторский взгляд на возможности клавишного синтезатора 2020МАЙОРОВА.pptx">Авторский взгляд на возможности клавишного синтезатора. Е.А. Майорова</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/2_Алгоритм создания аранжировки на синтезаторе.pdf">Алгоритм создания проекта аранжировки на клавишном синтезаторе.<br/>
                            К.Б. Давлетова</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/3_Registration memory.pdf">Работа с панелью регистрационной памяти клавишного синтезатора.<br/>
                            К.Б. Давлетова</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/4_Функция VOICE SET.pdf">Функция Voice Set. К.Б. Давлетова</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/5_Учебные материалы курса _Композиция и аранжировка на электронных клавишных инструментах docx.pdf">Учебный материал курса «Композиция и аранжировка на электронных клавишных инструментах». А.С. Сироткин</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/6_Учебные материалы модулей.pdf">Учебные материалы модулей курса «Искусство аранжировки на цифровом синтезаторе». Е.А. Фатьянова</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/7_Характеристика тембров.pdf">Характеристика тембров (Casio CT-X). Е.А. Фатьянова</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/8_Динамическая обработка звука.pdf">Динамическая обработка звука (Casio CT-X). Е.А. Фатьянова</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/8_Клавишный синтезатор.pptx">Клавишный синтезатор. Методическая разработка. А.С. Сироткин</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/9_Организация самостоятельной работы слушателя курсов.pdf">Организация самостоятельной работы слушателя курсов. К.Б. Давлетова</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/Презентация_Требования%20к%20аттестационной%20работе.pdf">Требования к аттестационной работе слушателя курсов «Инновационные методы и технологии в современном музыкальном образовании. музыкальный компьютер в классе синтезатора»</a>
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/Презентация_MuseScore1.pdf">Описание работы в компьютерной программе MuseScore.</a> В.Я Бойко, К.Б. Давлетова
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/Обобщенная%20схема%20процесса%20производства%20звукового%20контента%20pptx.pptx">Обобщенная схема производства звукового контента.</a> О.Л. Ясинская
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/Необходимое%20оборудование_Домашняя%20студия%20pptx.pptx">Необходимое оборудование. Домашняя студия.</a> О.Л. Ясинская
                        </p>

                        <p>
                            <a target="_blank" href="../../../static/files/session/method/course_mat/Вводная%20лекция%20doc.doc">Вводная лекция по звуковому оборудованию.</a> О.Л. Ясинская
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="../../../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>