<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(62008255, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
<noscript><div><img src="https://mc.yandex.ru/watch/62008255" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <title>Musica Integra</title>
    <link rel="stylesheet" href="../../../static/style.css">
    <meta name="yandex-verification" content="f651d4e5b1670abc" />
</head>
<body>
    <header id="intro_dif_image">
        <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light scrolling-navbar" style="min-height: 80px;">
            <a class="navbar-brand" href="{% url 'main' %}">Musica Integra</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button><div class="collapse navbar-collapse" id="navbarNavDropdown"><ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">пространство <strong>ВДОХНОВЕНИЯ</strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'music' %}">МУЗЫКА</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">МЕДИА</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">человек <strong>ИГРАЮЩИЙ</strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item submenu" href="{% url 'children' %}">ДЕТСКОЕ ТВОРЧЕСТВО</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'children_playing' %}">Дети играют</a>
                            <a class="dropdown-item" href="{% url 'konkurces' %}">Конкурсы</a>
                            <a class="dropdown-item" href="#">Проекты</a>
                        </div>

                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕДАГОГ-ДЕМОНСТРАТОР</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">педагоги<strong><span style="vertical-align: super">УМ</span></strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item submenu" href="{% url 'not_ready' %}">МЕТОДИЧЕСКИЕ МАТЕРИАЛЫ</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'notes' %}">Нотные пособия</a>
                            <a class="dropdown-item" href="{% url 'publications' %}">Публикации</a>
                            <a class="dropdown-item" href="{% url 'methods_dev' %}">Методические разработки</a>
                            <a class="dropdown-item" href="{% url 'course_materials' %}">Учебные материалы курсов</a>
                            <a class="dropdown-item" href="{% url 'videoconf_materials' %}">Материалы видеоконференций, вебинаров</a>
                        </div>

                        <a class="dropdown-item submenu" href="{% url 'session' %}">СЕССИОННОЕ ОБУЧЕНИЕ</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'courses' %}">Курсы повышения квалификации</a>
                            <a class="dropdown-item" href="{% url 'gumo' %}">ГУМО</a>
                            <a class="dropdown-item" href="{% url 'remote' %}">Дистанционное обучение</a>
                            <a class="dropdown-item" href="{% url 'konferences' %}">Конференции</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub"><strong><span style="vertical-align: sub">ПРОФИ</span></strong>ли участников</span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ФОРУМ педагогических идей</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕРСОНАЛИИ</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>

    </header>
    <main class="mt-5">
        <div class="container">
            <section id="best-features" class="center-text">
                <h2 class="mb-5 font-weight-bold">НОТНЫЕ ПОСОБИЯ</h2>
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-8">
                        <p>
                            <img src="../../../static/img/notes/Без%20заголовка.png" alt="Сборник 1" width="170">
                            <img src="../../../static/img/notes/_2%20часть%20Обучая,%20обуч_page-0001.jpg" alt="Сборник 2" width="170">
                            <img src="../../../static/img/notes/_3%20часть%20Обучая%20обуч.jpg" alt="Сборник 3" width="170">
                            <img src="../../../static/img/notes/_4%20часть%20Обчая,%20обуч.jpg" alt="Сборник 4" width="170">
                        </p>
                        <p class="grey-text">
                            Давлетова К., Майорова Е. Обучая, обучаюсь. Учебно-методический комплекс в четырех частях для начинающих преподавателей класса клавишного синтезатора и их учеников. СПб.: Изд-во «Союз художников», 2016-2019 г
                        </p>
                        <p>
                            Если у вас появился электронный клавишный инструмент, и вы раздумываете, как с ним наладить общение, обращайтесь к образовательной серии К. Давлетовой и Е. Майоровой «Обучая, обучаюсь» (выпуски 1-4).Это единственный подробнейший навигатор по музыкальной области под названием «Клавишный синтезатор».
                            Шаг за шагом «Обучая, обучаюсь» (от латинского крылатого выражения «Docenti Docentis» - куда же нам без латыни) учит не только осваивать инструмент, но и погружаться в звуковые пространства от барокко до рока, от этники до электроники. Без привлечения других музыкантов, без посещения дополнительных дисциплин. Только синтезатор!
                        </p>

                        <p>
                            В четырех выпусках Серии подобрана и систематизирована увлекательная и современная информация от донотного знакомства с музыкой до предпрофессионального.<br/>
                            <strong>Выпуск 1</strong> – это первые музыкальные шаги. Пособие предлагает сначала «играть» без нот. Потом учит нотной грамоте. Потом предлагает играть простые композиции в разных режимах инструмента. Затем вы можете свою музыку записать и пересылать друзьям.<br/>
                            <strong>Выпуск 2</strong> – это середина обучения. Задачи постепенно усложняются. Но и ваш музыкальный опыт углубляется! На материале этого сборника можно научиться редактировать свою музыку, используя пресетные установки (те, что заложены в синтезаторе). А сколько новой музыкальной информации можно получить! Сколько прекрасной музыки послушать, пользуясь навигатором под названием «Рекомендации»<br>
                            <strong>Выпуск 3</strong> – это вершина, «зенит». Вы без страха сможете записывать и использовать пользовательские параметры – свои голоса (!), свои музыкальные стили (!), свои неповторимые композиции, аранжировки и сочинения.<br/>
                            <strong>Выпуск 4</strong> – это системное руководство по изучению музыки с помощью этих сборников – ПРОГРАММА. Она описывает «как», «когда», «сколько» и «зачем» заниматься той или иной музыкальной работой на синтезаторе.<br/>
                        </p>
                        <p>
                            «Обучая, обучаюсь» доказывает, что серьезно учиться музыке можно и на клавишном синтезаторе также!<br/>
                            Каждый музыкальный пример сопровождается рекомендациями по аранжировке, исполнению и записи на синтезаторах разного модельного ряда<br/>
                            А музыкальные педагоги могут взять на вооружение Программу обучения игре на синтезаторе («Обучая, обучаюсь - 4»), чтобы вместе со своими учениками путешествовать по прекрасному миру музыки.<br/>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="../../../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>