html, body, header {
    height: 100%;
}

header {
    vertical-align: bottom;
    padding: 0;
}

#intro {
    background: url(./img/image.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80%;
}

.top-nav-collapse{
    background-color: black;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse){
        background: black
    }
}

@media (min-width: 1300px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

header h2, h4 {
    margin: 200px;
}

.mt-5 h2, h4 {
    margin-left: 200px;
    margin-right: 200px;
}

.box {
    width: 90%;
    border: 3px solid black;
    padding: 25px;
    margin: 20px;
    text-align: center;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  background-size: contain;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.photoBorder {
margin-top: 20px;
width: 180px;
height: 180px;

background-repeat     : no-repeat;
background-size       : cover;
background-position-x : 50%;
background-position-y : 50%;
}

TABLE {
    width: 90%; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
    margin: 50px;
   }

TD {
    valign: top;
    align: left;
    margin-top: 10px;
}

/* Navbar */

.dropdown-menu .dropdown-menu {
	top: auto;
	left: 100%;
	transform: translateY(-2rem);
}

.dropdown-item + .dropdown-menu {
    display: none ;
    opacity: 0;
    transition: opacity .3s 1s;
}
.dropdown-item:hover + .dropdown-menu {
 display: block;
 opacity: 1;
 transition: opacity .3s 1s;
}
.dropdown-menu:hover{
 display:block;
}

.dropdown-item.submenu::after {
	content: '▸';
	margin-left: 0.5rem;
}
.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
	opacity: 1;
	transition: opacity .0s .1s;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* TABLE */
TD, TH {
    padding: 3px; /* Поля вокруг содержимого ячеек */
}

TH {
    text-align: left; /* Выравнивание по левому краю */
    background: black; /* Цвет фона */
    color: white; /* Цвет текста */
    border: 1px solid white; /* Рамка вокруг ячеек */
}

TD {
    border-bottom: 1px solid black; /* Линия снизу */
}