html,body,header, #intro{
    height: 100%;
}

#intro {
    background: url(./img/image.jpg) no-repeat center center fixed;
    background-size: cover;
}

.top-nav-collapse{
    background-color: black;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse){
        background: black
    }
}

h2, h4 {
    margin: 200px;
}

.box {
  width: 90%;
  border: 3px solid black;
  padding: 25px;
  margin: 20px;
    text-align: center;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
    background-size: contain;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.photoBorder {
margin-top: 20px;
width: 180px;
height: 180px;

background-repeat     : no-repeat;
background-size       : cover;
background-position-x : 50%;
background-position-y : 50%;
}
