<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(62008255, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
<noscript><div><img src="https://mc.yandex.ru/watch/62008255" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <title>Детское творчество</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="yandex-verification" content="74ce760d7b958a48" />
</head>
<body>
    <header id="intro">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light scrolling-navbar" style="min-height: 80px;">
            <a class="navbar-brand" href="{% url 'main' %}">Musica Integra</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button><div class="collapse navbar-collapse" id="navbarNavDropdown"><ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        пространство ВДОХНОВЕНИЯ
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'inspiration' %}">пространство ВДОХНОВЕНИЯ</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">МУЗЫКА</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">МЕДИА</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        человек ИГРАЮЩИЙ
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'playing' %}">человек ИГРАЮЩИЙ</a>
                        <a class="dropdown-item" href="{% url 'children' %}">ДЕТСКОЕ ТВОРЧЕСТВО</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕДАГОГ-ДЕМОНСТРАТОР</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        педагогиУМ
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'teachers' %}">педагогиУМ</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">МЕТОДИЧЕСКИЕ РАЗРАБОТКИ</a>
                        <a class="dropdown-item" href="{% url 'session' %}">СЕССИОННОЕ ОБУЧЕНИЕ</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ПРОФИли участников
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ФОРУМ педагогических идей</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕРСОНАЛИИ</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>


        <div class="view">
            <div class="mask rgba-black-strong">
                <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-md-10">
                            <h2 class="display-4 font-weight-bold text-white pt-5 mb-2">Детское творчество</h2>
                            <h4 class="text-white my-4">Педагогические идеи и проекты</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="mt-5">
        <div class="container">
            <section id="best-features" class="center-text">
                <h2 class="mb-5 font-weight-bold">Детское творчество</h2>
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-8">
                        <p class="grey-text">
                        Быть слушателем детского концерта – это всегда радость. Это подпитка легким волнением, шорохом «принцессиных» нарядов, киношными блицами фотокамер…

Но мы-то с вами находимся внутри процесса детского творчества. И хорошо знаем все колдобины на пути того прекрасного, что будет представлено публике. И заранее представляем, как будут через них переваливать наши строптивые, неорганизованные, но такие талантливые и красивые – наши ученики. А мы будем помогать, потому что любим. И растим…
                        </p>

                        <hr class="my-5">

                        <table width="100%" cellspacing="0" cellpadding="10">
                            <tr>
                                <td width="250" valign="top" align="center">
                                    <a href="https://drive.google.com/file/d/1ofyyThDtPRH2yjNbxdUhd8sQbLzEp22z/view" target="_blank"><img src="../static/img/incubator/Эмблема%20конкурса%20DEMO.jpg" alt="ЭМБЛЕМА КОНКУРСА DEMO" style="width:100%"></a>
                                    <p align="center">DEMO</p>
                                    <p align="center">Всероссийский конкурс электроакустической музыки для одаренных детей и подростков</p>
                                </td>
                                <td valign="top" align="left">
                                    <p style="margin-top: 10px;"><a href="https://drive.google.com/file/d/155M1rnWupCOSYKKXRLyRIvap7ZuK0ceW/view" target="_blank">Положение о проведении конкурса</a></p>
                                    <p><a href="https://drive.google.com/file/d/1UPjlx-AHIKbLcDanMRMJE8c_aQ35-LGF/view" target="_blank">Состав жюри</a></p>
                                    <p><a href="https://drive.google.com/file/d/1ofyyThDtPRH2yjNbxdUhd8sQbLzEp22z/view" target="_blank">Буклет</a></p>
                                    <p><a href="https://drive.google.com/drive/folders/1P2vF_BX4r52bQafukmeSacxwZIOETZmw" target="_blank">Итоги</a></p>
                                    <p><a>Концерт лауреатов</a></p>
                                </td>

                            </tr>
                        </table>

                        <table width="100%" cellspacing="0" cellpadding="10">
                            <tr>
                                <td width="250" valign="top"  align="center">
                                    <a href="https://drive.google.com/file/d/1NdnnmkoFmmqwiMBWDDVUJO5p7CV6Ltds/view" target="_blank"><img src="../static/img/incubator/Эмблема%20Цифровые%20горизонты.jpg" alt="Эмблема цифровые горизонты" class="photoBorder"></a>
                                    <p align="center">ЦИФРОВЫЕ ГОРИЗОНТЫ</p>
                                    <p>Региональный конкурс в области применения электронных музыкальных инструментов</p>
                                </td>
                                <td valign="top" align="left">
                                    <p style="margin-top: 20px;"><a href="https://drive.google.com/file/d/1dFX6ToDzTKJvVXlFHXCRAbpmtYahfzf6/view" target="_blank">Положение о проведении конкурса</a></p>
                                    <p><a href="https://drive.google.com/file/d/1LWZkTd3hZOSpEjMBAh81rq-X1bMeEJUp/view" target="_blank">Состав жюри</a></p>
                                    <p><a href="https://drive.google.com/file/d/1NdnnmkoFmmqwiMBWDDVUJO5p7CV6Ltds/view" target="_blank">Реклама конкурса</a></p>
                                    <p><a href="https://drive.google.com/open?id=1CMOGoThPnsECVKPPm6A8WnUCmGkRVErh">Итоги</a></p>
                                </td>

                            </tr>
                        </table>

                        <table width="100%" cellspacing="0" cellpadding="10">
                            <tr>
                                <td width="250" valign="top" align="center">
                                    <a href="https://drive.google.com/file/d/1H2Sde43PtGp93QGavxzZHSZZm0uWvgj_/view" target="_blank"><img src="../static/img/incubator/Эмблема_ЭМИ.jpg" alt="Эмблема Крошка Эми" style="width:100%"></a>
                                    <p align="center">КРОШКА ЭМИ</p>
                                    <p>Городской фестиваль начинающих исполнителей на электронных музыкальных инструментах</p>
                                </td>
                                <td valign="top" align="left" margin-top="20px">
                                    <p style="margin-top: 20px;"><a href="https://drive.google.com/open?id=1c52K2RjEpMYgbizilIxq3mhHn3u-8Ewl" target="_blank">Положение о проведении конкурса</a></p>
                                    <p><a href="https://drive.google.com/file/d/1UPjlx-AHIKbLcDanMRMJE8c_aQ35-LGF/view" target="_blank">Состав жюри</a></p>
                                    <p><a href="https://drive.google.com/file/d/1H2Sde43PtGp93QGavxzZHSZZm0uWvgj_/view" target="_blank">Программа</a></p>
                                    <p><a href="https://drive.google.com/file/d/1JtRmXb66AE0Ddkz5m3IWDXozbITCena2/view" target="_blank">Итоги</a></p>
                                </td>

                            </tr>
                        </table>

                        <hr class="my-5">

                        <p>IV концерт цикла «Грани музыкальной электроники». Проводится в рамках работы секции «Электронные музыкальные инструменты» XVIII Международной научно-практической конференции «Современное музыкальное образование – 2019»</p>
                        <p><a href="../static/files/incubator/ГРАНИ_МУЗ_ЭЛ_афиша_печать_5_дек2019.jpg">Афиша концерта</a></p>
                        <p><a href="../static/files/incubator/Программка_%20ГРАНИ%20МУЗ%20ЭЛ.pdf">Программа</a></p>
                        <p><a href="../static/files/incubator/ФОТОКОЛЛАЖ_Концерт_ГраниМузЭлектроники_05.12.19.docx">Фотографии</a></p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>