<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(62008255, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
<noscript><div><img src="https://mc.yandex.ru/watch/62008255" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <title>Musica Integra</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="yandex-verification" content="f651d4e5b1670abc" />
</head>
<body>
    <header id="intro">
        <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light scrolling-navbar" style="min-height: 80px;">
            <a class="navbar-brand" href="{% url 'main' %}">Musica Integra</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button><div class="collapse navbar-collapse" id="navbarNavDropdown"><ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        пространство ВДОХНОВЕНИЯ
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'inspiration' %}">пространство ВДОХНОВЕНИЯ</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">МУЗЫКА</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">МЕДИА</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        человек ИГРАЮЩИЙ
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'playing' %}">человек ИГРАЮЩИЙ</a>
                        <a class="dropdown-item submenu" href="{% url 'children' %}">ДЕТСКОЕ ТВОРЧЕСТВО</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'children_playing' %}">Дети играют</a>
                            <a class="dropdown-item" href="{% url 'konkurces' %}">Конкурсы</a>
                            <a class="dropdown-item" href="#">Проекты</a>
                        </div>

                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕДАГОГ-ДЕМОНСТРАТОР</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        педагогиУМ
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'teachers' %}">педагогиУМ</a>
                        <a class="dropdown-item submenu" href="{% url 'not_ready' %}">МЕТОДИЧЕСКИЕ МАТЕРИАЛЫ</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'notes' %}">Нотные пособия</a>
                            <a class="dropdown-item" href="{% url 'publications' %}">Публикации</a>
                            <a class="dropdown-item" href="{% url 'methods_dev' %}">Методические разработки</a>
                            <a class="dropdown-item" href="{% url 'course_materials' %}">Учебные материалы курсов</a>
                            <a class="dropdown-item" href="{% url 'videoconf_materials' %}">Материалы видеоконференций, вебинаров</a>
                        </div>

                        <a class="dropdown-item submenu" href="{% url 'session' %}">СЕССИОННОЕ ОБУЧЕНИЕ</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'courses' %}">Курсы повышения квалификации</a>
                            <a class="dropdown-item" href="{% url 'gumo' %}">ГУМО</a>
                            <a class="dropdown-item" href="{% url 'remote' %}">Дистанционное обучение</a>
                            <a class="dropdown-item" href="{% url 'konferences' %}">Конференции</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ПРОФИли участников
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ФОРУМ педагогических идей</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕРСОНАЛИИ</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>

        <div class="view">
            <div class="mask rgba-black-strong">
                <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-md-10">
                            <h2 class="display-4 font-weight-bold text-white pt-5 mb-2">человек ИГРАЮЩИЙ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="mt-5">
        <div class="container">
            <section id="best-features" class="center-text">
                <h2 class="mb-5 font-weight-bold">человек ИГРАЮЩИЙ</h2>
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-8">
                        <p class="grey-text">
                            Есть в музыкальной педагогике такой термин: играющий ребенок. Мы не будем касаться философского аспекта темы HOMO LUDENS – человек играющий, но на профессиональном уровне понятно, что за лаконичной характеристикой стоят и упорядоченное культурологическое воспитание (аллюзия - Й. Хёйзинга «Homo Ludens»), и многоходовые партитурные расчеты (аллюзия - Дж. Нэш «Теория игр»), и особые пространственно-временные условия представления исполнителя.
                        </p>
                        <p class="grey-text">
                            Итак, на этой странице мы знакомим с достижениями исполнительского мастерства детей и их преподавателей.
                        </p>
                        <p> ДЕТСКОЕ ТВОРЧЕСТВО </p>
                        <p><a href="{% url 'not_ready' %}>Дети играют</a></p>
                        <p><a href="{% url 'not_ready' %}>Конкурсы</a></p>
                        <p> ПЕДАГОГ-ДЕМОНСТРАТОР </p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>