<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(62008255, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
<noscript><div><img src="https://mc.yandex.ru/watch/62008255" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <title>Musica Integra</title>
    <link rel="stylesheet" href="../../static/style.css">
    <meta name="yandex-verification" content="f651d4e5b1670abc" />
</head>
<body>
    <header id="intro_dif_image">
        <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light scrolling-navbar" style="min-height: 80px;">
            <a class="navbar-brand" href="{% url 'main' %}">Musica Integra</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button><div class="collapse navbar-collapse" id="navbarNavDropdown"><ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">пространство <strong>ВДОХНОВЕНИЯ</strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'music' %}">МУЗЫКА</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">МЕДИА</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">человек <strong>ИГРАЮЩИЙ</strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item submenu" href="{% url 'children' %}">ДЕТСКОЕ ТВОРЧЕСТВО</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'children_playing' %}">Дети играют</a>
                            <a class="dropdown-item" href="{% url 'konkurces' %}">Конкурсы</a>
                            <a class="dropdown-item" href="#">Проекты</a>
                        </div>

                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕДАГОГ-ДЕМОНСТРАТОР</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub">педагоги<strong><span style="vertical-align: super">УМ</span></strong></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item submenu" href="{% url 'not_ready' %}">МЕТОДИЧЕСКИЕ МАТЕРИАЛЫ</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'notes' %}">Нотные пособия</a>
                            <a class="dropdown-item" href="{% url 'publications' %}">Публикации</a>
                            <a class="dropdown-item" href="{% url 'methods_dev' %}">Методические разработки</a>
                            <a class="dropdown-item" href="{% url 'course_materials' %}">Учебные материалы курсов</a>
                            <a class="dropdown-item" href="{% url 'videoconf_materials' %}">Материалы видеоконференций, вебинаров</a>
                        </div>

                        <a class="dropdown-item submenu" href="{% url 'session' %}">СЕССИОННОЕ ОБУЧЕНИЕ</a>

                        <div class="dropdown-menu">
			                <a class="dropdown-item" href="{% url 'courses' %}">Курсы повышения квалификации</a>
                            <a class="dropdown-item" href="{% url 'gumo' %}">ГУМО</a>
                            <a class="dropdown-item" href="{% url 'remote' %}">Дистанционное обучение</a>
                            <a class="dropdown-item" href="{% url 'konferences' %}">Конференции</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="vertical-align: sub"><strong><span style="vertical-align: sub">ПРОФИ</span></strong>ли участников</span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ФОРУМ педагогических идей</a>
                        <a class="dropdown-item" href="{% url 'not_ready' %}">ПЕРСОНАЛИИ</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>

    </header>
    <main class="mt-5">
        <div class="container">
            <section id="best-features" class="center-text">
                <h2 class="mb-5 font-weight-bold">МУЗЫКА</h2>
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-8">
                        <p>
                            РАЗДЕЛ «АРАНЖИРОВКИ»
                        </p>
                        <p>
                            Реме́йк (от англ. remake — «переделка») —термин, означающий выпуск новых версий
                            уже существующих произведений искусства с видоизменением или добавлением в них собственных характеристик. Ремейк не цитирует и не пародирует источник, а наполняет его новым и актуальным содержанием, однако «с оглядкой» на
                            <a href="https://kartaslov.ru/" target="_blank">образец</a>
                        </p>

                        <table>
                            <tr>
                                <td>
                                    А. Вивальди «Времена года». «Зима» – Макс Рихтер Фильм «Танцовщица» («La danceuse»)</br>
                                    А. Вивальди «Зима» 2 – Макс Рихтер Фильм «Танцовщица» («La dance»)</br>
                                    А. Вивальди «Весна» – Макс Рихтер Фильм «Танцовщица» («La dance»)</br>
                                    <a href="https://muzofond.fm/collections/ost/ost%20la%20danseuse" target="_blank">Ссылка</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://web.gybka.com/song/3045044/MOBY_-_MISSION_IMPOSSIBLE" target="_blank">Х. Циммер «Миссия невыполнима» Музыка из фильма – Moby «Mission Impossible»</a><br/>
                                    <a href="https://5music.me/sound/main+theme+d3stra+and+yastreb+remix+radio+edit" target="_blank">Х. Циммер «Миссия невыполнима» – d3stra and yastreb remix radio edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://web.gybka.com/song/276759/Moby_-_James_Bond_Theme_cj_bolland_remix/" target="_blank">М. Норман Бондиана Фильм «Доктор Ноу» Главная тема - Moby «James Bond»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%90%D0%BB%D1%8C%D1%84%D1%80%D0%B5%D0%B4+%D0%A8%D0%BD%D0%B8%D1%82%D0%BA%D0%B5+-+%D0%9C%D0%B0%D1%81%D1%82%D0%B5%D1%80+%D0%B8+%D0%9C%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D1%82%D0%B0%2C+1994%D0%B3" target="_blank">М. Равель «Болеро» – А. Шнитке «Болеро» Музыка из фильма «Мастер и Маргарита»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://web.gybka.com/song/106986776/Burre_I.S.Bah_-_Dzhetro_Tall/" target="_blank">И.-С. Бах Сюита для лютни – Jetro Tull «Бурре» (Bourée)</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://web.gybka.com/song/128955544/Kirill_Rihter_-_Polyot_Matryoshek/" target="_blank">Н. А. Римский-Корсаков «Полет шмеля» – Кирилл Рихтер «Полет матрешек»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://hotplayer.ru/?s=%D0%B2%D0%B8%D0%BB%D0%B0-%D0%BB%D0%BE%D0%B1%D0%BE%D1%81%20-%20%D0%B4%D0%B6%D0%BE%D0%BD%20%D1%83%D0%B8%D0%BB%D1%8C%D1%8F%D0%BC%D1%81" target="_blank">Э. Вила-Лобос Прелюдия №4 ми минор – Джон Вильямс киномузыка</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://web.gybka.com/song/117656821/Shigeru_Umebayashi_-_2046_Main_Theme_OST_2046/" target="_blank">С. Умибаяши фильм «2046» Главная тема – Shigeru Umebayashi Main Theme Rumba</a><br/>
                                    <a href="https://web.gybka.com/song/164243727/Shigeru_Umebayashi_-_2046_Theme_Rumba_Version/" target="_blank">Version</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://web.gybka.com/song/29589950/Sky_-_Alla_Turca_Rondo/" target="_blank">В. А. Моцарт Соната № 11 Рондо «Alla Turca» – SKY «Alla Turca. Rondo»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    К. Альмаран «Historia de un amor» -<br/>
                                    <a href="http://web.gybka.com/artist/5018428-Cinema_Serenade_Ensemble/" target="_blank">Cinema Serenade Ensemble «Historia de un amor»</a><br/>
                                    <a href="http://web.gybka.com/song/113755362/Dalida_-_Histoire_d_un_amour_Historia_de_un_Amor_Version_fran_aise_Historia_de_un_Amor_Version_fr/" target="_blank">Dalida «Historia de un amor»</a><br/>
                                    <a href="http://web.gybka.com/song/6754686/Hulio_Eglesias_-_Historia_De_Un_Amor/" target="_blank">Hulio Eglesias «Historia de un amor»</a><br/>
                                    <a href="http://web.gybka.com/artist/875859-Giovanni_Marradi_Boleros_1992/" target="_blank">Giovanni Marrandi «Historia de un amor»</a><br/>
                                    <a href="http://web.gybka.com/song/28767545/Zaz_-_La_Historia_De_Un_Amor/" target="_blank">Zaz «Historia de un amor»</a><br/>
                                    <a href="https://zaycev.net/pages/164279/16427987.shtml" target="_blank">Клавдия Шульженко «Первая встреча»</a><br/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://web.gybka.com/song/22821559/Eduard_Artemev_i_Rossijskij_orkestr_sinematografa_-_Pohod_h_f_Sibiriada_ost/" target="_blank">Э. Артемьев «Поход» фильм «Сибириада» исп. Российский оркестр синематографа</a><br/>
                                    <a href="https://inkompmusic.ru/?song=%D0%AD%D0%B4%D1%83%D0%B0%D1%80%D0%B4+%D0
%90%D1%80%D1%82%D0%B5%D0%BC%D1%8C%D0%B5%D0%B2+%E2%80%93+%D0
%9F%D0%BE%D1%85%D0%BE%D0%B4+%28OST+%D0%A1%D0%B8%D0%B1%D0%B8
%D1%80%D0%B8%D0%B0%D0%B4%D0%B0%29
https://zaycev.net/search.html?spa=true&trackId=434694&query_search=%D0%AD.%20%D0
%90%D1%80%D1%82%D0%B5%D0%BC%D1%8C%D0%B5%D0%B2%20%D0%9F%D0%B
E%D1%85%D0%BE%D0%B4%20%D0%A1%D0%B8%D0%B1%D0%B8%D1%80%D0%B8%
D0%B0%D0%B4%D0%B0" target="_blank">Э. Артемьев «Космическая музыка» «Поход»</a><br/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%9F%D0%BE%D0%BB%D1%8E%D1%88%D0%BA%D0%BE+%D0%BF%D0%BE%D0%BB%D0%B5" target="_blank">«Полюшко, поле» русская народная песня</a><br/>
                                    <a href="https://inkompmusic.ru/?song=Aeterna+%E2%80%93+%D0%9F%D0%BE%D0%BB%D1%8E%D1%88%D0%BA%D0%BE-%D0%BF%D0%BE%D0%BB%D0%B5" target="_blank">Aeterna</a><br/>
                                    <a href="https://inkompmusic.ru/?song=Jefferson+Airplane+%E2%80%93+Meadowlands+%28%D0%9F%D0%BE%D0%BB%D1%8E%D1%88%D0%BA%D0%BE-%D0%BF%D0%BE%D0%BB%D0%B5%29" target="_blank">Jefferson Airplane</a><br/>
                                    <a href="https://inkompmusic.ru/?song=NippanDub+%E2%80%93+Lai+Lai+%2F+%D0%9F%D0%BE%D0%BB%D1%8E%D1%88%D0%BA%D0%BE-%D0%9F%D0%BE%D0%BB%D0%B5+%28djSuleimann+indaMix%29" target="_blank">Nippan Dub</a><br/>
                                    <a href="https://inkompmusic.ru/?song=Viktoria+Tolstoy+%E2%80%93+Little+Pretty+%28%D0%9F%D0%BE%D0%BB%D1%8E%D1%88%D0%BA%D0%BE-%D0%BF%D0%BE%D0%BB%D0%B5%29" target="_blank">Victoria Tolstoy</a><br/>
                                    <a href="https://inkompmusic.ru/?song=%D0%9F%D0%B8%D0%BA%D0%BD%D0%B8%D0%BA+%E2%80%93+%D0%9F%D0%BE%D0%BB%D1%8E%D1%88%D0%BA%D0%BE+-+%D0%BF%D0%BE%D0%BB%D0%B5+Heroic+Version" target="_blank">Пикник</a><br/>
                                    <a href="https://inkompmusic.ru/?song=%D0%9A%D0%90%D0%9F%D0%9F%D0%A1%D0%90+%E2%80%93+%D0%9F%D0%BE%D0%BB%D1%8E%D1%88%D0%BA%D0%BE-%D0%BF%D0%BE%D0%BB%D0%B5" target="_blank">КАППСА</a><br/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/giorgio%20moroder%20-%20the%20due" target="_blank">И. С. Бах «Менуэт» из «Нотной тетради А. М. Бах» - Дж. Мородер «Дуэль»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?song=%D0%AD.%D0%93%D1%80%D0%B8%D0%B3+%E2%80%93+%D0%9F%D0%B5%D1%80+%D0%93%D1%8E%D0%BD%D1%82+%D0%92+%D0%BF%D0%B5%D1%89%D0%B5%D1%80%D0%B5+%D0%B3%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BA%D0%BE%D1%80%D0%BE%D0%BB%D1%8F">Э. Григ «Пер Гюнт» «В пещере горного короля»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?song=Apocalyptica+%E2%80%93+%D0%92+%D0%BF%D0%B5%D1%89%D0%B5%D1%80%D0%B5+%D0%B3%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BA%D0%BE%D1%80%D0%BE%D0%BB%D1%8F+%28Remix%29">Д. Демид vs Григ «В пещере Горного короля»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?song=Apocalyptica+%E2%80%93+%D0%92+%D0%BF%D0%B5%D1%89%D0%B5%D1%80%D0%B5+%D0%B3%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BA%D0%BE%D1%80%D0%BE%D0%BB%D1%8F+%28Remix%29">Апокалиптика «В пещере Горного короля»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://39.glawandius.com/index/d1?diff=0&utm_source=og&campaign=23965&darken=0&content=&clickid=6xmng8vdiwerbkeu&aurl=http%3A%2F%2Fgoodmp3.ru%2Fmp3%2F-2001359508%2F5359508.mp3&an=&term=&site=&notGo=1#">Игорь Крутой - Э. Григ «В пещере Горного короля»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%92+%D0%BF%D0%B5%D1%89%D0%B5%D1%80%D0%B5+%D0%B3%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BA%D0%BE%D1%80%D0%BE%D0%BB%D1%8F+%E2%80%93+%28remix%29">Отражение – Э. Григ «В пещере Горного короля»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://new-music24.ru/?mp3=Banda+Classicoff+%E2%80%93+%D0%92+%D0%BF%D0%B5%D1%89%D0%B5%D1%80%D0%B5+%D0%B3%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BA%D0%BE%D1%80%D0%BE%D0%BB%D1%8F">Banda Classicoff - Э. Григ «В пещере Горного короля»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://mp3novinki.net/178310-muzyka-iz-filma-led-2-dmitrij-agafonov-v-peschere-gornogo-korolja.html">Дмитрий Агафонов - Э. Григ «В пещере Горного короля»</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="https://zaycev.net/pages/11851/1185145.shtml?spa=true&trackId=1185145">К. Сен-Санс «Пляска смерти»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://audiovk4.ru/?mp3=%D0%A8%D1%82%D0%B5%D1%84%D0%B0%D0%BD+%D0%91%D0%BB%D1%8F%D0%B9%D1%85%D0%B5%D1%80+%E2%80%93+%D0%9A%D0%B0%D0%BC%D0%B8%D0%BB%D1%8C+%D0%A1%D0%B5%D0%BD-%D0%A1%D0%B0%D0%BD%D1%81.+%D0%A0%D0%B0%D0%BF%D1%81%D0%BE%D0%B4%D0%B8%D1%8F+%D0%BD%D0%B0+%D0%B1%D1%80%D0%B5%D1%82%D0%BE%D0%BD%D1%81%D0%BA%D0%B8%D0%B5+%D1%82%D0%B5%D0%BC%D1%8B+1">К. Сен-Санс «3 рапсодии на бретонские темы» для органа</a><br/>
                                    <a href="https://tatuumamusic.ru/?song=%D0%A8%D1%82%D0%B5%D1%84%D0%B0%D0%BD+%D0%91%D0%BB%D1%8F%D0%B9%D1%85%D0%B5%D1%80+%E2%80%93+%D0%9A%D0%B0%D0%BC%D0%B8%D0%BB%D1%8C+%D0%A1%D0%B5%D0%BD-%D0%A1%D0%B0%D0%BD%D1%81.+%D0%A0%D0%B0%D0%BF%D1%81%D0%BE%D0%B4%D0%B8%D1%8F+%D0%BD%D0%B0+%D0%B1%D1%80%D0%B5%D1%82%D0%BE%D0%BD%D1%81%D0%BA%D0%B8%D0%B5+%D1%82%D0%B5%D0%BC%D1%8B+3">К. Сен-Санс «3 рапсодии на бретонские темы» для органа</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://drive.gybka.com/song/149544753/Franc_SHubert_-_SHubert_-_Serenada_variacii_na_temu_flamenko/">Ф. Шуберт «Серенада» Ремикс (Вариации фламенко)</a><br>
                                    <a href="https://drive.gybka.com/song/1661288/Franc_SHubert_-_Serenada_dlya_fortepiano_s_orkestrom_Pesn_moya_letit_s_molboj_v_tihij_chas_nochnoj./">Ф. Шуберт «Серенада» Ремикс (эстрадно-симфоническая версия)</a><br>
                                    <a href="https://drive.gybka.com/song/1661352/Franc_SHubert_bezumnaya_krasa_-_Serenada/">Ф. Шуберт «Серенада» Ремикс ( оркестровка для симфонического оркестра)</a><br>
                                    <a href="https://drive.gybka.com/song/16599914/Franc_SHubert_1797-1828_-_Vechernyaya_Serenada_sovremennaya_obrabotka/">Ф. Шуберт «Серенада» Ремикс ( современная обработка соло трубы)</a><br>
                                    <a href="https://drive.gybka.com/song/19916620/Franc_SHubert_Klajderman_-_Vechernyaya_serenada/">Ф. Шуберт «Серенада» Ремикс ( Р. Клаудерман)</a><br>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://audio-vk4.ru/?mp3=%D0%A8%D1%83%D0%B1%D0%B5%D1%80%D1%82++%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9+%D0%BC%D0%BE%D0%BC%D0%B5%D0%BD%D1%82">Ф. Шуберт «Музыкальный момент» фа минор (оркестр)</a><br/>
                                    <a href="https://5music.me/track/57629804552566/">Ф. Шуберт «Музыкальный момент» фа минор (ремикс)</a><br/>
                                    <a href="https://5music.me/track/123491249398234/">Ф. Шуберт «Музыкальный момент» фа минор (ремикс «I am your best friend»)</a><br/>
                                    <a href="https://audio-vk4.ru/?mp3=%D0%A4%D1%80%D0%B0%D0%BD%D1%86+%D0%A8%D1%83%D0%B1%D0%B5%D1%80%D1%82+%E2%80%93+%D0%9C%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9+%D0%BC%D0%BE%D0%BC%D0%B5%D0%BD%D1%82+3+%28remix%29">Ф. Шуберт «Музыкальный момент» фа минор (mm trap remix)</a><br/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80">Ф. Шопен Прелюдия № 4 ми минор (виолончель, скрипка, фортепиано)</a><br/>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80">Ф. Шопен Прелюдия № 4 ми минор (вокал)</a><br/>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80">Ф. Шопен Прелюдия № 4 ми минор (Richard Schönherz)</a><br/>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80&p=2">Ф. Шопен Прелюдия № 4 ми минор (Игорь Крутой)</a><br/>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80&p=2">Ф. Шопен Прелюдия № 4 ми минор (с дождем)</a><br/>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80&p=3">Ф. Шопен Прелюдия № 4 ми минор (Джимми Пейдж Jimmy Page)</a><br/>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80&p=5">Ф. Шопен Прелюдия № 4 ми минор (аранж. KEY)</a><br/>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80&p=5">Ф. Шопен Прелюдия № 4 ми минор («четыре четверти»)</a><br/>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <p>Georg Friedrich Haendel</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1004.html">Sarabande End-Title</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Georg Friedrich Haendel (Perf. National Philarmonic Orchestra)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1005.html">Sarabande Main Title</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Georg Friedrich Haendel (Perf. National Philarmonic Orchestra)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1006.html">Sarabande-Duel (long)</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Georg Friedrich Haendel (Perf. National Philarmonic Orchestra)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1007.html">Sarabande-Duel</a>
                                </td>
                            </tr>
                            </table>

                        <p>
                            РАЗДЕЛ «РОМАНТИЧЕСКАЯ МУЗЫКА»
                        </p>

                        <p>
                            Музыка эпохи романтизма - эпоха в истории европейской профессиональной музыки, охватывающая в основном конец первой четверти XIX века — первое десятилетие XX. Наиболее важной чертой романтической музыки считается непосредственное выражение мира человеческих чувств, свобода самовыражения, не ограниченного рамками условностей.<br/>
                            (<a href="https://iskusstvo-zvuka.livejournal.com/133456.html">https://iskusstvo-zvuka.livejournal.com/133456.html</a>)
                        </p>

                        <table>
                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/%D0%B6%D0%BE%D1%80%D0%B6%20%D0%B1%D0%B8%D0%B7%D0%B5%20-%20%D1%81%D1%8E%D0%B8%D1%82%D0%B0%20%22%D0%B4%D0%B5%D1%82%D1%81%D0%BA%D0%B8%D0%B5%20%D0%B8%D0%B3%D1%80%D1%8B">Ж. Бизе Сюита «Детские игры» «Колыбельная кукле»</a><br/>
                                    <a href="http://lightaudio.ru/mp3/%D0%B6%D0%BE%D1%80%D0%B6%20%D0%B1%D0%B8%D0%B7%D0%B5%20-%20%D1%81%D1%8E%D0%B8%D1%82%D0%B0%20%22%D0%B4%D0%B5%D1%82%D1%81%D0%BA%D0%B8%D0%B5%20%D0%B8%D0%B3%D1%80%D1%8B">Ж. Бизе Сюита «Детские игры» «Волчок»</a><br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://5music.me/sound/%D0%BF%D0%B5%D1%80%D1%82%D1%81%D0%BA%D0%B0%D1%8F+%D0%BA%D1%80%D0%B0%D1%81%D0%B0%D0%B2%D0%B8%D1%86%D0%B0+%D1%86%D1%8B%D0%B3%D0%B0%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D1%82%D0%B0%D0%BD%D0%B5%D1%86">Ж. Бизе «Пертская красавица» «Цыгвнский танец»</a><br/>
                                    <a href="https://5music.me/sound/%d0%bf%d0%b5%d1%80%d1%82%d1%81%d0%ba%d0%b0%d1%8f+%d0%ba%d1%80%d0%b0%d1%81%d0%b0%d0%b2%d0%b8%d1%86%d0%b0+%d0%bf%d1%80%d0%b5%d0%bb%d1%8e%d0%b4%d0%b8%d1%8f">Ж. Бизе «Пертская красавица» Прелюдия</a><br/>
                                    <a href="https://audio-vk4.ru/?mp3=%D0%96.%D0%91%D0%B8%D0%B7%D0%B5+%E2%80%93+%D0%9A%D0%B0%D1%80%D0%BC%D0%B5%D0%BD+-+%D0%90%D0%BD%D1%82%D1%80%D0%B0%D0%BA%D1%82">Ж. Бизе «Кармен» Антракт II действие</a><br/>
                                    <a href="https://audio-vk4.ru/?mp3=%D0%96.%D0%91%D0%B8%D0%B7%D0%B5+%E2%80%93+%D0%9A%D0%B0%D1%80%D0%BC%D0%B5%D0%BD+-+%D0%90%D0%BD%D1%82%D1%80%D0%B0%D0%BA%D1%82">Ж. Бизе «Кармен» Антракт III действие</a><br/>
                                    <a href="https://audio-vk4.ru/?mp3=%D0%96.%D0%91%D0%B8%D0%B7%D0%B5+%E2%80%93+%D0%9A%D0%B0%D1%80%D0%BC%D0%B5%D0%BD+-+%D0%90%D0%BD%D1%82%D1%80%D0%B0%D0%BA%D1%82">Ж. Бизе «Кармен» Антракт IV действие</a><br/>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="http://ru12.intermusic.name/s/142868104-A.Adan_-_Krestyanskij/">А. Адан «Жизель» Крестьянский танец I акт</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://ru12.intermusic.name/s/70335666-Adan_-_balet_ZHizel_2_akt/">А. Адан «Жизель» Па де де II акт</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://ru12.intermusic.name/s/142868126-A._Adan_-_ZHizel/">А. Адан «Жизель» Позднее раскаяние II акт</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="https://my.muzon.vip/song/487193-i-s-bah-sh-guno-ave-maria">Ш. Гуно - И. С. Бах «Ave, Maria»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://my.muzon.vip/song/1900747-guno-pohoronnyy-marsh-marionetok">Ш. Гуно Похороны марионетки (Похоронный марш марионеток)</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?mp3=%D0%93%D1%83%D0%BD%D0%BE+-+%D0%A4%D0%B0%D1%83%D1%81%D1%82">Ш. Гуно «Фауст» Балет («Вальпургиева ночь») 1</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://5music.me/track/123561815998824/">Ш. Гуно «Фауст» Балет («Вальпургиева ночь») 2</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://5music.me/track/122909571122232/">Ш. Гуно «Фауст» Балет («Вальпургиева ночь») 3</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://5music.me/track/122908478768248/">Ш. Гуно «Фауст» Балет («Вальпургиева ночь») 4</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://5music.me/track/122908478850188/">Ш. Гуно «Фауст» Балет («Вальпургиева ночь») 5</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://5music.me/track/122909571191881/">Ш. Гуно «Фауст» Балет («Вальпургиева ночь») 6</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?mp3=%D0%93%D1%83%D0%BD%D0%BE+-+%D0%A4%D0%B0%D1%83%D1%81%D1%82">Ш. Гуно «Фауст» Балет («Вальпургиева ночь») 7</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/%D0%B3%D1%83%D0%BD%D0%BE%20%D1%88%D0%B0%D1%80%D0%BB%D1%8C%20%28%D1%80%D0%BE%D0%BC%D0%B5%D0%BE%20%D0%B8%20%D0%B4%D0%B6%D1%83%D0%BB%D1%8C%D0%B5%D1%82%D1%82%D0%B0%29">Ш. Гуно «Ромео и Джульетта» «Сон Джульетты»</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?mp3=%D0%AD.+%D0%93%D1%80%D0%B8%D0%B3+-+%D0%9F%D0%B5%D1%80+%D0%93%D1%8E%D0%BD%D1%82">Э. Григ «Пер Гюнт» «Танец Анитры»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?song=%D0%AD.%D0%93%D1%80%D0%B8%D0%B3+%E2%80%93+%D0%9F%D0%B5%D1%80+%D0%93%D1%8E%D0%BD%D1%82+%D0%92+%D0%BF%D0%B5%D1%89%D0%B5%D1%80%D0%B5+%D0%B3%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BA%D0%BE%D1%80%D0%BE%D0%BB%D1%8F">Э. Григ «Пер Гюнт» «В пещере Горного короля»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?mp3=%D0%AD.+%D0%93%D1%80%D0%B8%D0%B3+-+%D0%9F%D0%B5%D1%80+%D0%93%D1%8E%D0%BD%D1%82">Э. Григ «Пер Гюнт» «Песня Сольвейг»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?mp3=%D0%AD.+%D0%93%D1%80%D0%B8%D0%B3+-+%D0%9F%D0%B5%D1%80+%D0%93%D1%8E%D0%BD%D1%82">Э. Григ «Пер Гюнт» «Смерть Озе»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?mp3=%D0%AD.+%D0%93%D1%80%D0%B8%D0%B3+-+%D0%9F%D0%B5%D1%80+%D0%93%D1%8E%D0%BD%D1%82">Э. Григ «Пер Гюнт» «Арабский танец»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?song=%D0%AD.%D0%93%D1%80%D0%B8%D0%B3+%E2%80%93+%D0%9F%D0%B5%D1%80+%D0%93%D1%8E%D0%BD%D1%82+.+%D0%A2%D0%B0%D0%BD%D0%B5%D1%86+%D0%B4%D0%BE%D1%87%D0%B5%D1%80%D0%B8+%D0%93%D0%BE%D1%80%D0%BD%D0%BE%D0%B3%D0%BE+%D0%BA%D0%BE%D1%80%D0%BE%D0%BB%D1%8F">Э. Григ «Пер Гюнт» «Танец дочери Горного короля»</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/%D0%B2%D0%B0%D0%B3%D0%BD%D0%B5%D1%80">Р. Вагнер «Тристан и Изольда» Прелюдия</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/%D0%B2%D0%B0%D0%B3%D0%BD%D0%B5%D1%80">Р. Вагнер «Полет Валькирии»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/%D0%B2%D0%B0%D0%B3%D0%BD%D0%B5%D1%80%20%D0%BB%D0%BE%D1%8D%D0%BD%D0%B3%D1%80%D0%B8%D0%BD">Р. Вагнер «Лоэнгрин» Вступление II действие</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/%D0%B2%D0%B0%D0%B3%D0%BD%D0%B5%D1%80%20%D0%BB%D0%BE%D1%8D%D0%BD%D0%B3%D1%80%D0%B8%D0%BD">Р. Вагнер «Лоэнгрин» Свадебное шествие в собор II действие 4 сцена</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://5music.me/track/63255761949065/">Р. Вагнер «Лоэнгрин» Свадебный марш</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="https://audio-vk4.ru/?mp3=%D0%94%D0%B2%D0%BE%D1%80%D0%B6%D0%B0%D0%BA+%E2%80%93+%D0%A1%D0%BB%D0%B0%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D1%82%D0%B0%D0%BD%D0%B5%D1%86+2%2C+e-moll">А. Дворжак Славянские танцы 1 тетрадь op 46 № 2</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://oomusic.ru/?mp3=%D0%90.+%D0%94%D0%B2%D0%BE%D1%80%D0%B6%D0%B0%D0%BA+-+%D0%A1%D0%BB%D0%B0%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B5+%D1%82%D0%B0%D0%BD%D1%86%D1%8B">А. Дворжак Славянские танцы 1 тетрадь op 46 № 3</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://x-zvonok.ru/?mp3=%D0%90%D0%BD%D1%82%D0%BE%D0%BD%D0%B8%D0%BD+%D0%94%D0%B2%D0%BE%D1%80%D0%B6%D0%B0%D0%BA+%E2%80%93+04-F-dur+Op.46">А. Дворжак Славянские танцы 1 тетрадь op 46 № 4</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://x-zvonok.ru/?mp3=Anton+n+Dvo+k+%28V+clav+Neumann%29+%E2%80%93+Slovanske+tance%2C+Op.+46+Nr.+5+A-dur.+Allegro+vivace+%28Sko+n+%29">А. Дворжак Славянские танцы 1 тетрадь op 46 № 5</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://x-zvonok.ru/?mp3=Anton+n+Dvo+k+%E2%80%93+Slovanske+tance%2C+Op.46+-+No.6+D-dur.+Allegretto+scherzando+%28Sousedska%29+Czech+PO%2C+Neumann">А. Дворжак Славянские танцы 1 тетрадь op 46 № 6</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://x-zvonok.ru/?mp3=Anton+n+Dvo+k+%E2%80%93+Slovanske+tance%2C+Op.46+-+No.7+c-moll.+Allegro+assai+%28Skocna%29+Czech+PO%2C+Neumann">А. Дворжак Славянские танцы 1 тетрадь op 46 № 7</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://x-zvonok.ru/?mp3=Dvo+k+%E2%80%93+Slovanske+tance%2C+Op.+46+Nr.+8+g-moll.+Presto+%28Furiant%29+-+esk+filharmonie.+V+clav+Neumann%2C+dirigent">А. Дворжак Славянские танцы 1 тетрадь op 46 № 8</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="https://drive.gybka.com/song/153493503/Ditrih_Fisher-Diskau_-_Vechernyaya_serenada_Franc_SHubert_nemeckij/">Ф. Шуберт «Серенада»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://audio-vk4.ru/?mp3=%D0%A8%D1%83%D0%B1%D0%B5%D1%80%D1%82++%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9+%D0%BC%D0%BE%D0%BC%D0%B5%D0%BD%D1%82">Ф. шуберт «Музыкальный момент» op 94 3</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://5music.me/track/123025417974115/">Ф. Шуберт «Розамунда» № 2 Ballet</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://5music.me/track/123025415897448/">Ф. Шуберт «Розамунда» № 9 Ballet-2</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D1%83%D0%B1%D0%B5%D1%80%D1%82+%E2%80%93+%D0%A0%D0%BE%D0%B7%D0%B0%D0%BC%D1%83%D0%BD%D0%B4%D0%B">Ф. Шуберт «Розамунда» № 3 III Entracte</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://mp3star1.ru/mp3/Ly9tb29zaWMubXkubWFpbC5ydS9maWxlLzMwNTc1MDE3YzZmN2NkNGYyNjNhY2IzOTYwNjBhYThhLm1wMw==/Franz%20Schubert%20-%20Hirtenmelodie%20(Rosamund">Ф. Шуберт «Розамунда» № 6 «Hirtenmelodien» (пастушьи мелодии)</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D0%A3%D0%9C%D0%90%D0%9D+%D0%93%D1%80%D1%91%D0%B7%D1%8B">Р. Шуман «Грезы»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D0%A3%D0%9C%D0%90%D0%9D+%D0%93%D1%80%D1%91%D0%B7%D1%8B">Р. Шуман «Детские сцены» «Грезы» фортепиано</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D0%A3%D0%9C%D0%90%D0%9D+%D0%93%D1%80%D1%91%D0%B7%D1%8B">Р. Шуман «Грезы» оркестр</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D0%A3%D0%9C%D0%90%D0%9D+%D0%93%D1%80%D1%91%D0%B7%D1%8B">Р. Шуман «Грезы» Юрловская капелла</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D0%A3%D0%9C%D0%90%D0%9D+%D0%93%D1%80%D1%91%D0%B7%D1%8B">Р. Шуман «Грезы» перкуссии</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D0%A3%D0%9C%D0%90%D0%9D+%D0%93%D1%80%D1%91%D0%B7%D1%8B">Р. Шуман «Грезы» из пьес «Детские сцены» в обработке для виолончели</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D0%A3%D0%9C%D0%90%D0%9D+%D0%93%D1%80%D1%91%D0%B7%D1%8B">Р. Шуман Babydream Nature Sounds «Грезы»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://inkompmusic.ru/?song=%D0%A8%D0%A3%D0%9C%D0%90%D0%9D+%D0%93%D1%80%D1%91%D0%B7%D1%8B">Р. Шуман «Грезы» Оркестр Поля Мориа</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="http://hotplayer.ru/?s=%D1%88%D0%BE%D0%BF%D0%B5%D0%BD%20%D1%84.%20-%20%D0%BF%D1%80%D0%B5%D0%BB%D1%8E%D0%B4%D0%B8%D1%8F%20%D0%BC%D0%B8%20%D0%BC%D0%B8%D0%BD%D0%BE%D1%80">Ф. Шопен Прелюдия № 4 ми минор</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/%D0%B4%D0%B5%D0%BB%D0%B8%D0%B1%20%D0%BA%D0%BE%D0%BF%D0%BF%D0%B5%D0%BB%D0%B8%D1%8F/2">Л. Делиб «Коппелия» Утро (Заря)</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://hotplayer.ru/?s=%D0%B4%D0%B5%D0%BB%D0%B8%D0%B1%20%D0%BA%D0%BE%D0%BF%D0%BF%D0%B5%D0%BB%D0%B8%D1%8F">Л. Делиб «Коппелия» Детский танец</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://lightaudio.ru/mp3/%D0%B4%D0%B5%D0%BB%D0%B8%D0%B1%20%D0%BA%D0%BE%D0%BF%D0%BF%D0%B5%D0%BB%D0%B8%D1%8F">Л. Делиб «Коппелия» Вальс часов</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://zvooq.pro/tracks/leo-delibes-musique-des-automates">Л. Делиб «Коппелия» Танец кукол автоматов (Musique des automates)</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://w1.musify.club/track/herbert-von-karajan-ballad-fr-coppelia-delibes-6949791">Л. Делиб «Копеллия» Баллада о колоске</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://ru12.intermusic.name/s/110612213-Antal_Dorati_-_Coppelia_Gigue/">Л. Делиб «Коппелия» Жига</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://ru12.intermusic.name/s/143006425-L._Delib_-_Pryalki_-_fragment_iz_baleta_Koppeliya/">Л. Делиб «Коппелия» Прялки (Труд)</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://hotplayer.ru/?s=%D0%BB.%D0%B4%D0%B5%D0%BB%D0%B8%D0%B1.%D0%B8%D0%B7%20%D0%B1%D0%B0%D0%BB%D0%B5%D1%82%D0%B0%20%22%D1%81%D0%B8%D0%BB%D1%8C%D0%B2%D0%B8%D1%8F%22">Л. Делиб «Сильвия» Пиццикато</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="http://hotplayer.ru/?s=%D0%BB.%D0%B4%D0%B5%D0%BB%D0%B8%D0%B1.%D0%B8%D0%B7%20%D0%B1%D0%B0%D0%BB%D0%B5%D1%82%D0%B0%20%22%D1%81%D0%B8%D0%BB%D1%8C%D0%B2%D0%B8%D1%8F%22">Л. Делиб «Сильвия» Баркарола</a>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="https://mp3star1.ru/mp3/Ly9tb29zaWMubXkubWFpbC5ydS9maWxlL2YxNDE1MTBlMzBhY2M1Mjc3Yzc5NWE5OGQ4Mzk0ZDY0Lm1wMw==/%D0%9A%D0%B0%D0%BC%D0%B8%D0%BB%D1%8C%20%D0%A1%D0%B5%D0%BD-%D0%A1%D0%B0%D0%BD%D1%81%20-%20Le%20rossignol%20et%20la%20rose%20(extrait%20de%20''Parysatis'')">К. Сен-Санс «Parysatis» «Le rossignol et la rose» (соловей и роза) вокализ</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <ol>К. Сен-Санс «Карнавал животных»:
                                        <li>Марш королевских львов</li>
                                        <li><a href="http://lightaudio.ru/mp3/%D1%81%D0%B5%D0%BD-%D1%81%D0%B0%D0%BD%D1%81%20%D0%BA%D0%B0%D1%80%D0%BD%D0%B0%D0%B2%D0%B0%D0%BB%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85">Куры и петухи</a></li>
                                        <li><a href="http://hotplayer.ru/?s=%D1%81%D0%B5%D0%BD-%D1%81%D0%B0%D0%BD%D1%81%20%D0%BA%D0%B0%D1%80%D0%BD%D0%B0%D0%B2%D0%B0%D0%BB%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85&p=3">Черепахи</a></li>
                                        <li>Слон</li>
                                        <li>Аквариум</li>
                                        <li><a href="http://hotplayer.ru/?s=%D1%81%D0%B5%D0%BD-%D1%81%D0%B0%D0%BD%D1%81%20%D0%BA%D0%B0%D1%80%D0%BD%D0%B0%D0%B2%D0%B0%D0%BB%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85">Длинноухие персонажи</a></li>
                                        <li><a href="http://hotplayer.ru/?s=%D1%81%D0%B5%D0%BD-%D1%81%D0%B0%D0%BD%D1%81%20%D0%BA%D0%B0%D1%80%D0%BD%D0%B0%D0%B2%D0%B0%D0%BB%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85&p=2">Кукушка в глубине леса</a></li>
                                        <li><a href="https://mp3star1.ru/music/11.%20%D0%9A.%20%D0%A1%D0%B5%D0%BD-%D0%A1%D0%B0%D0%BD%D1%81.%20%22%D0%9A%D0%B0%D1%80%D0%BD%D0%B0%D0%B2%D0%B0%D0%BB%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85%22.%20-%20%22%D0%9F%D0%B8%D0%B0%D0%BD%D0%B8%D1%81%D1%82%D1%8B%22">Пианисты</a></li>
                                        <li>Ископаемые</li>
                                        <li><a href="http://hotplayer.ru/?s=%D1%81%D0%B5%D0%BD-%D1%81%D0%B0%D0%BD%D1%81%20%D0%BA%D0%B0%D1%80%D0%BD%D0%B0%D0%B2%D0%B0%D0%BB%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85&p=4">Лебедь</a></li>
                                    </ol>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td>
                                    <a href="http://xn--80adhccsnv2afbpk.xn--p1ai/saundtrek-k-filmu/3460-1975-barri-lindon.html">Музыка к фильму «БАРРИ ЛИНДЕН»</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>1. Antonio Vivaldi</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1000.html">Cello Concerto In E Minor</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>2. Franz Schubert</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1001.htm">Piano Trio In E Flat, Op. 100</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>3. Franz Schubert (Perf. National Philarmonic Orchestra)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1002.html">German Dance Nє 1 In C Major</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>4. Fredrick The Great</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1003.html">Hohenfriedberger March</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>5. Giovanni Paisiello (Perf. National Philarmonic Orchestra)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1008.html">Il Barbiere Di Siviglia</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>6. Johann Sebastian Bach</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1009.html">Concerto For Two Harpsichords And Orchetra In C Minor</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>7. Sean O'Riada (Perf. Derek Bell)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1010.html">Women Of Ireland</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>8. Sean O'Riada (Perf. Paddy Moloney and Sean Potts)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1011.html">Tin Whistles</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>9. Sean O'Riada (Perf. The Chieftains)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1012.html">Women Of Ireland</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>10. Traditional</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1013.html">Piper's Maggot Jig</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>11. Traditional (Cond. Leslie Pearson)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1014.html">Lilliburlero</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>12. Traditional (Perf. Fifes and Drums)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1015.html">British Grenadiers</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>13. Traditional (Perf. Fifes and Drums)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1016.html">Lilliburlero</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>14. Traditional (Perf. The Chieftains)</p>
                                    <a href="http://mp3.xn--80adhccsnv2afbpk.xn--p1ai/download/3460/1017.html">The Sea-Maiden</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>